<li>@Html.ActionLink("Home", "Index", "Home")</li>

<li class="pull-right">
    @Html.ActionLink("Cadastrar", "CadastrarCliente", "Cliente")
</li>
<li class="pull-right">
    @Html.ActionLink("Entrar", "EntrarCliente", "Cliente")
</li>